<h1>Create New Dating Profile</h1>

<%= form_for(@profile) do |p| %>
	<%= p.label :nickname %>
	<%= p.text_field :nickname %>
	<%= p.label :name %>
	<%= p.text_field :name %>
	<%= p.label :biography %>
	<%= p.text_area :biography %>
	<%= p.label :gender %>
	<%= p.text_field :gender %>
	<%= p.label :age %>
	<%= p.text_field :age %>
	<%= p.label :email %>
	<%= p.text_field :email %>
	<%= p.label :hobbies %>
	<%= p.text_area :hobbies %>
	<%= p.submit %>
	<span class="picture"
	<%= p.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
	</span>
<% end %>

<script type="text/javascript">
  $('#profile_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>